:root {
  /* --main-color: #683a8c; */
  --main-color: #7e15e8;
  --fs-xxxl-: 4rem;
  --fs-xxl-: 2.5rem;
  --fs-xl: 2rem;
  --fs-l: 1.8rem;
  --fs-m: 1.6rem;
  --fs-s: 1.4rem;
  --fs-xs: 1.2rem;
  --fs-xxs: 1rem;
  --fs-xxxs: 0.8rem;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans SC', arial;
}

a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

.btn {
  color: black;
  transition: all 0.5s;
  position: relative;
  padding: 12px 25px;
  text-transform: capitalize;
}
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background-color: #7f15e80b; */
  background-color: #683a8c0f;
  transition: all 0.7s;
}
.btn:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #7f15e8da;
  /* border: 1.5px solid #683a8c53; */
  border-left: none;
  border-right: none;
  transform: scale(1.2, 1.2);
}
.btn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.bg-img {
  width: 100%;
  height: 96%;
  /* max-height: 500px; */
  background-color: #e6e6fa;
  filter: blur(3px);
  background-image: url('photos/intro-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* filter: blur(3px); */
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
}

.intro {
  width: 60%;
  margin: auto;
  /* height: 90.5%; */
  background-color: #e6e6fad2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
  background-attachment: fixed;
}

.intro h2 {
  font-size: var(--fs-xxl-);
  border-bottom: 0.3px solid black;
  padding: 10px 60px;
  margin-bottom: 15px;
}

.intro span {
  font-size: var(--fs-m);
  font-family: 'Dancing Script', arial;
  font-weight: bold;
  letter-spacing: 2px;
  /* border-right: 2px solid black;
    border-left: 2px solid black; */
  padding: 0 15px;
  /* transform: rotate(-5deg) */
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro .img-wrap {
  max-width: 300px;
  margin-bottom: 10px;
}

.img-wrap img {
  width: 100%;
  box-shadow: 0 0px 20px 5px #e6e6fa inset;
  border-radius: 10px;
}

.intro .socials {
  font-size: var(--fs-s);
  color: black;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* =================================================================== */
.about-section {
  background-color: #f5f5f5;
  text-align: center;
  font-size: var(--fs-xs);
  line-height: 1.2;
  padding: 45px 15%;
  line-height: 1.5;
}

.about-text {
  margin: auto;
}

.tab-content {
  text-align: left;
}

.about-text h3 {
  text-transform: capitalize;
  font-size: var(--fs-s);
  margin: 20px 0;
}

.about-text .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  font-size: var(--fs-xxxl-);
  justify-content: center;
  margin: 80px 0px;
  width: 100%;
}

.spin-hover:hover {
  animation: fa-flip 0.7s 1 linear;
}

.skills .html {
  color: #f16529;
}

.skills .css {
  color: #2196f3;
}

.skills .js {
  color: #ffcf2c;
}

.skills .git {
  color: #f05033;
}

.skills .node {
  color: #83cd29;
}

.about-tabs {
  margin-bottom: 40px;
}

.about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--blue-dark);
  font-size: var(--fs-s);
  cursor: pointer;
  font-weight: 500px;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.about-tabs .tab-item:last-child {
  margin: 0;
}

.about-tabs .tab-item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--blue-dark);
  transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before {
  width: 100%;
}

.about-tabs .tab-item.active::before {
  width: 100%;
  background-color: var(--main-color);
}

.about-tabs .tab-item.active {
  color: var(--main-color);
  opacity: 1;
  cursor: auto;
}

.about-text .timeline {
  position: relative;
}

.about-text .timeline::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--main-color);
}

.about-text .tab-content {
  /* padding: 40px 0; */
  display: none;
}

.about-text .tab-content.active {
  display: block;
}

.about-text .timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}

.about-text .timeline-item::before {
  content: '';
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--main-color);
  left: 0;
  top: 16px;
  /* border-radius: 50%; */
}

.about-text .timeline-item:last-child {
  margin-bottom: 0;
}

.about-text .timeline-item .date {
  display: block;
  color: var(--main-color);
  font-weight: 400;
  margin: 0 0 10px;
}

.about-text .timeline-item h4 {
  font-size: var(--fs-s);
  text-transform: capitalize;
  margin: 0 0 10px;
}

.about-text .timeline-item h4 span {
  font-weight: 400;
}

.about-text .btn {
  margin: 0 15px 15px 0;
}

.description {
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  padding: 0 50px;
}

/* =============== expectations ================= */

.expectations,
.portfolio {
  padding: 80px 15% 50px 15%;
  text-align: center;
  line-height: 1.2;
}

.expectations h2,
.portfolio h2 {
  font-size: var(--fs-xxl-);
  margin-bottom: 100px;
}

.expectation-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.expectation-boxes .expect {
  padding: 15px 15px;
  background-color: #683a8c0f;
  position: relative;
}

.expect h5 {
  font-size: var(--fs-s);
  margin-top: 20px;
  margin-bottom: 5px;
}

.expect .circle-i-wrap {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
}

.expect i {
  font-size: var(--fs-xxl-);
}

/* ================ portfolio ======== */

.portfolio {
  background-color: #f5f5f5;
  padding-bottom: 100px;
  padding-left: 7%;
  padding-right: 7%;
}

.project-wrap {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.project-item {
  background-size: 100% 100%;
  /* position: relative; */
  border-radius: 5px;
  width: 48.85%;
  max-width: 600px;
  display: flex;
  aspect-ratio: 4/3;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 80px;
}

.project {
  width: 100%;
  height: 100%;
  position: relative;
}

.project:hover {
  border: 1px solid white;
}

.project img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.project .project-description {
  background-color: white;
  border-radius: 5px;
  padding: 10px 15px;
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: -70px;
  /* margin-bottom: -200px; */
}

.project span {
  color: rgba(0, 0, 0, 0.546);
}

/* =========================project popup ============= */

/* ============= close x ======== */
.x {
  margin-top: 100px;
  align-self: flex-end;
  cursor: pointer;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 6.3px;
  /* position: absolute; */
  top: -60px;
  right: 0px;
}

.x-line {
  width: 12px;
  height: 3px;
  border-radius: 2px;
  transition: width ease-in 80ms;
  background-color: #7f15e8c4;
}

.top-x .x-line:nth-of-type(1) {
  transform: rotate(50deg);
  /* background-color: red; */
  /* margin-bottom:-2.9px; */
}
.top-x .x-line:nth-of-type(2) {
  transform: rotate(-50deg) translate(3.5px);
  margin-left: 7.9px;
  /* background-color: blue; */
}

.bottom-x .x-line:nth-of-type(1) {
  transform: rotate(-50deg);
  /* background-color: red; */
}

.bottom-x .x-line:nth-of-type(2) {
  transform: rotate(50deg) translate(-4.3px);
  margin-left: 13.2px;
  /* background-color: blue; */
}

.bottom-x {
  transform: translate(-.25px)
}

.x:hover .x-line{
  width: 16px;
}

/* ======= close x end ===== */

.project-popup-wrap{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display:none
  /* overflow-y: auto; */
}

.project-popup-wrap.active {
  display:flex;
}

div.project-popup {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  position: relative;
  z-index: 12;
  padding: 20px 30px;
  cursor: default;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.project-popup img {
  width: 60%;
  max-width: 800px;
  max-height: 400px;
  margin-top: 20px;
}

.project-popup .btn {
  display: block;
  background-color: transparent;
  border: none;
}

/* ================ media queries ========== */

@media screen and (max-width: 900px) {
  .expectations h2 {
    margin-bottom: 50px;
  }

  .expectation-boxes {
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
  }
}

@media screen and (max-width: 600px) {
  .intro .img-wrap {
    max-width: 200px;
    /* margin-bottom: 10px; */
  }

  .about-section {
    padding: 45px 5%;
  }

  .description {
    padding: 0 25px;
  }
}
